div.title span {
  font-size: 1.25rem;
}
div.title span:first-child {
  font-weight: 600;
  color: var(--dark-blue);
}

div.title span:nth-child(2) {
  color: var(--title-gray);
}

div.coordinadora {
  color: var(--title-gray);
}

div.coordinadora i {
  font-size: 1.35rem;
  background-color: #ededed;
  border-radius: 50%;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  padding-left: 0.65rem;
  padding-right: 0.60rem;
  color: var(--title-gray);
}

button {
  font-size: 1.2rem;
}

button.btn-primary {
  border-color: var(--dark-blue) !important;
  background-color: var(--dark-blue) !important;
}

button.btn-primary {  
  box-shadow: 0 0 0 0;
}

button.btn-primary:hover {  
  background-color: #1b3260 !important;
}

td button {
  font-size: 0.9rem;
}

.hora {
  width: 25%;
}

.nombre {
  width: 45%;
}

.asistencia {
  width: 15%;
}

.falta {
  width: 15%;
}