<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="col-md-6 col-8 col-sm-6">
      <span>Masajes antiestrés</span>
      <div class="separador"></div>
      <span>Elije tu turno</span>
    </div>
    <div class="col-md-6 col-4 col-sm-6 text-right">
      <img src="../../assets/images/logo-gris.png" alt="logo Inteligo">
    </div>
</nav>
<div class="content">
  <div class="container mt-3 mb-3 therapist-content">
    <div class="row">
        <div class="col-md-4 col-4 text-center">
            <div class="therapist-container"> 
                <span>Terapeuta 1</span>
            </div>
        </div>
        <div class="col-md-4 col-4 text-center">
            <div class="therapist-container">
                <span>Terapeuta 2</span>
            </div>
        </div>
        <div class="col-md-4 col-4 text-center">
            <div class="therapist-container">
                <span>Terapeuta 3</span>
            </div>
        </div>
    </div>
  </div>
  <div class="container turn-content">
    <div class="row">
        <!-- *ngFor="let item of list" -->
        
          <div class="col-12 col-md-4 text-center">             
            <div *ngFor="let item1 of terapeuta1" class="mb-2 turn-container">
                <button *ngIf="item1.available == true" disabled class="turn-btn" (click) = "onSelectTurn(item1)">{{item1.hourStart}} - {{item1.hourEnd}}</button>
                <button *ngIf="item1.available == false" class="turn-btn" (click) = "onSelectTurn(item1,modal0)">{{item1.hourStart}} - {{item1.hourEnd}}</button>
            </div>
          </div>
          <div class="col-12 col-md-4 text-center">            
            <div *ngFor = "let item2 of terapeuta2" class="mb-2 turn-container">
                <button *ngIf="item2.available == true" disabled class="turn-btn">{{item2.hourStart}} - {{item2.hourEnd}}</button>
                <button *ngIf="item2.available == false" class="turn-btn">{{item2.hourStart}} - {{item2.hourEnd}}</button>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-2 text-center">
            <div *ngFor = "let item3 of terapeuta3" class="mb-2 turn-container">
                <button *ngIf="item3.available == true" disabled class="turn-btn">{{item3.hourStart}} - {{item3.hourEnd}}</button>
                <button *ngIf="item3.available == false" class="turn-btn">{{item3.hourStart}} - {{item3.hourEnd}}</button>
            </div>
          </div>
    </div>
        <!-- App main content markup. -->
           
  </div>
  <div class="text-right">
    <a class="logOut" (click)="onLogout()"> Salir</a>
  </div>
  <div>
      <div>
        <button class="btn btn-primary" (click)="insertInscription(this.primero)">agregar inscripcion</button>  
        <button class="btn btn-primary" (click)="insertReport(this.segundo)">agregar reporte</button> 
      </div>
    </div>

</div>

<ng-template #modal0 let-c="close" let-d="dismiss" class="modal-dialog-centered">
    <button type="button" class="close pull-right" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  <div class="modal-body">
    <div class="text-center">
        <h3 class="modal-title pull-left">¿Deseas confirmar este turno?</h3>
    </div>
    
    <div class="mt-4 mb-5 text-center">
      <button type="button" class="btn btn-confirm mr-2" (click)="openModal2(templateNested)">Confirmar</button>
      <button type="button" class="btn btn-cancel" (click)="openModal2(templateNested)">Cancelar</button>
    </div>
    
  </div>
</ng-template>
 
<ng-template #modalConfirm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Second modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is nested modal.<br>
    <button *ngIf="modalRef" type="button" class="btn btn-danger" (click)="closeFirstModal()">Close first modal</button>
  </div>
</ng-template>

