.view-login div.row div:nth-child(1) div:nth-child(1) {
  padding-top: 25%;
}

.view-login div.row div:nth-child(1) div:nth-child(1) h3{
  color: var(--title-gray);
  font-weight: 700;
}

.view-login div.row div:nth-child(1) div:nth-child(1) p{
  color: var(--content-gray);
  font-weight: 400;
  font-size: 1rem;
  width: 70%;
}

.view-login div.row div:nth-child(1) div:nth-child(1) button{
  background-color: var(--dark-blue);
  color: white;
  font-size: 1.2rem;
}

.view-login div.row div:nth-child(2) {
  height: 100vh;
  background-image: url("../../assets/images/img-view-one.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -150px;
}

.absolute {
  position: absolute;
  top: 0;
  padding-top: 1.5rem;
  width: 25%;
  left: 48px;
}

@media only screen and (max-width: 768px)  {
  .view-login div.row div:nth-child(2) {
    display: none;
  }
  .view-login div.row {
    height: 100vh;
    background-image: url("../../assets/images/img-view-one.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* color: #ffffff70; */
    opacity: 0.9;
  }
  .view-login div.row div:nth-child(1) div:nth-child(1) p{
    width: 80%;
  }

  .absolute {
    display: none;
  }
}

@media only screen and (max-width: 320px)  {
  .view-login div.row div:nth-child(1) div:nth-child(1) {
    padding-top: 5%;
  }
}