<div class="container-fluid view-login">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-12">
      <!-- <div class="h-50"></div> -->
      <div class="mt-5 mx-5 w-70">
          <h3 class="pb-4">Inscripción Masajes Antiestrés</h3>
          <p class="pl-1">Pensando en su bienestar y salud los invitamos a inscribirse para recibir una sesión de veinte minutos de masajes.</p>
          <button class="btn rounded-0" (click)="onLogin()">Iniciar</button>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 py-x">
    </div>
  </div>
</div>