/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, sans-serif;
}

:root {
  --title-gray: #5c6579;
  --content-gray: #8690a0;
  --dark-blue: #30497B;
}